:root {
    /* Wallpapers - set wallpaper-global if you want the same wallpaper on the settings and home panels,
       or set home-wallpaper and settings-wallpaper individually if you want separate ones. */
    --wallpaper-global: url('https://media.discordapp.net/attachments/527391749010620416/542473453869989889/huge.png');
    --home-wallpaper: var(--wallpaper-global); /* set this to url(<insert image url>) if you want separate */
    --settings-wallpaper: var(--wallpaper-global); /* set this to url(<insert image url>) if you want separate */

    /* This colour affects the timestamp that appears next to messages. */
    --time-color: pink;

    /* This colour is what's shown on the left side of a server icon if the server has unread messages. */
    --guild-unread-color: pink;

    /* A channel will have this text colour in the navigation panel if the channel has unread messages. */
    --channel-unread-color: white;

    /* This colour affects the colour of the little nib next to an unread channel. */
    --channel-unread-nib-color: var(--channel-unread-color);

    /* This colour affects the colour of the hashtag next to an unread channel. */
    --channel-unread-hashtag-color: var(--channel-unread-color);

    /* This is the colour for channels that have no new messages and aren't currently selected. (the default). Best left at grey. */
    --channel-normal-color: grey;

    /* This colour affects the colour of the hashtag next to normal (no new messages, unselected) channels. */
    --channel-normal-hashtag-color: var(--channel-normal-color);

    /* This is the colour for the current selected channel. */
    --selected-channel-color: pink;

    /* This is the colour for the hashtag before the current selected channel. */
    --selected-channel-hashtag-color: var(--selected-channel-color);

    /* This colour affects the text that appears under 'Playing <>', 'Streaming <>', etc under a username in the user list. */
    --user-activity-color: pink;

    /* This affects the height of avatars in the chatbox. */
    --chatbot-avatar-height: 50px;

    /* This affects the width of avatars in the chatbox. */
    --chatbot-avatar-width: var(--chatbot-avatar-height);

    /* This affects the tint that the channels sidebar has compared to the message wrapper.*/
    --channels-tint: 0.2;

    /* This affects the tint that the entire window (channels + main) has. */
    --container-tint: 0.6;

    /* This affects the tint that the server list has compared to the rest of the application. */
    --guilds-wrapper-tint: 0.4;
}

/* Making elements transparent for background, as well as applying tints. */
.theme-dark div[class*="channels-"] { background-color: rgba(0, 0, 0, var(--channels-tint)) }
.theme-dark div[class*="container-"] { background-color: rgba(0, 0, 0, 0) }
.theme-dark div[class*="layer-"] { background-color: rgba(0, 0, 0, var(--container-tint)) }
.theme-dark div[class*="appMount-"] { background-color: rgba(0, 0, 0, 0.2) }
.theme-dark div[class*="guildsWrapper-"] { background-color: rgba(0, 0, 0, var(--guilds-wrapper-tint)) }
.theme-dark div[class*="chat-"] { background-color: unset }
.theme-dark div[class*="messagesWrapper-"] { background-color: unset }
.theme-dark div[class*="content-"] { background-color: unset }
.theme-dark div[class*="content-"] form { background-color: unset }
.theme-dark div[class*="channelTextArea-"] { background-color: unset }
.theme-dark div[class*="membersWrap-"] { background-color: unset }
.theme-dark div[class*="scrollerWrap-"] { background-color: unset }
.theme-dark div[class*="members-"] { background-color: unset }
.theme-dark div[class*="typing-"] { background-color: unset }
.theme-dark div[class*="video-"] { background-color: unset }
.theme-dark div[class*="videoHeight-"] { background-color: unset }
.theme-dark div[class*="headerBar-"] { 
    background: unset;
}

/* Usernames as they appear in the chat window, and timestamps. */
.theme-dark span[class*="username-"] { font-weight: bold }
.theme-dark time[class*="timestampCozy-"] { color: var(--time-color) }

/* Transparent code blocks. */
.hljs { background: unset !important }
pre { background-color: rgba(0, 0, 0, 0.2) !important }

/* Unread and selected channels. */
div[class*="scrollerWrap"] [class*="unread"]:before { background-color: var(--guild-unread-color) !important }
.theme-dark div[class*="unread-1Dp"] { background-color: var(--channel-unread-nib-color) }
.theme-dark div[class*="nameUnreadText-"] { color: var(--channel-unread-color) !important}
.theme-dark div[class*="nameSelectedText-"] { color: var(--selected-channel-color) !important}
.theme-dark div[class*="activity-"] { color: var(--user-activity-color) }
.theme-dark svg[class*="colorSelectedText-"][class*="icon-"] { color: var(--selected-channel-hashtag-color) }
.theme-dark svg[class*="colorUnreadText-"][class*="icon-"] { color: var(--channel-unread-hashtag-color) }

/* Normal channels */
.theme-dark svg[class*="colorDefaultText-"][class*="icon-"] { color: var(--channel-normal-hashtag-color) }
.theme-dark div[class*="name-"] { color: var(--channel-normal-color) }

/* Names with activity. */
.theme-dark span[class*="nameWithActivity-"] { color: grey; }

/* Wallpaper application for the main panel. */
.theme-dark div[class*="layers-"] { 
    background-image: var(--home-wallpaper);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Enlarging the avatar size, and making them square. */
.theme-dark div[class*="image-"][class*="large-"] { 
	height: var(--chatbot-avatar-height);
	width: var(--chatbot-avatar-width);
	border-radius: 10%;
}

/* Making settings elements transparent. */
.theme-dark div[class*="autocomplete-"] { background-color: rgba(0, 0, 0, 0.8) }
.theme-dark div[class*="contentRegion-"] { background-color: rgba(0, 0, 0, 0.4) }
.theme-dark div[class*="contentColumnDefault-"] { min-width: 95%; }
.theme-dark div[class*="sidebarRegion-"] { background-color: unset; flex: unset; }
.theme-dark div[class*="sidebarRegionScroller-"] { justify-content: unset }

/* Settings wallpaper. */
.theme-dark div[class*="standardSidebarView-"] { 
    background-image: var(--settings-wallpaper);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}